<div class="card card-custom mb-4">
    <form>
        <div class="card-header text-center">
            <input type="text" class="form-control"/>
        </div>
        <div class="card-body text-center">
            <p class="my-0"><img src="/assets/img/user-icon.jpg" width="200"/></p>
            <input type="text" class="form-control mt-2 mb-3"/>
            <p class="mb-2"><button class="btn btn-sm btn-custom"><i class="fa fa-calendar-check-o"></i> Schedules</button></p>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onCreate()"><i class="fa fa-plus"></i> Create</button>
        </div>
    </form>
</div>