<div class="button-group mb-2">
    <button type="button" class="btn btn-sm btn-custom" (click)="onAddNewSchedule()"><i class="fa fa-calendar-o"></i> Add</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"><i class="fa fa-text-width"></i> Title</th>
            <th scope="col"><i class="fa fa-user"></i> Creator</th>
            <th scope="col"><i class="fa fa-paragraph"></i> Description</th>
            <th scope="col"><i class="fa fa-map-marker"></i> Location</th>
            <th scope="col"><i class="fa fa-calendar-o"></i> Time Start</th>
            <th scope="col"><i class="fa fa-calendar-o"></i> Time End</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let schedule of schedules">
            <td>{{schedule.title}}</td>
            <td>{{schedule.creator}}</td>
            <td>{{schedule.description}}</td>
            <td>{{schedule.location}}</td>
            <td>{{schedule.date | date: 'MMM d, y, '}}{{schedule.startTime.hour}}:{{schedule.startTime.minute}}</td>
            <td>{{schedule.date | date: 'MMM d, y, '}}{{schedule.endTime.hour}}:{{schedule.endTime.minute}}</td>
            <td>
                <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-info-circle"></i> Details</button>
                <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/schedule', schedule.id]"><i class="fa fa-pencil"></i> Edit</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(schedule)"><i class="fa fa-trash"></i> Delete</button>
            </td>
        </tr>
    </tbody>
</table>