<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <a class="navbar-brand" href="#">
    <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  </a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
  </ul>
</nav>

<h2 class="px-2 mt-2 mb-3">Angular Sprint</h2>

<div class="container-fluid px-2">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-primary">
          <h5 class="mb-0">New Tasks<i class="fa fa-thumb-tack right-icon" aria-hidden="true"></i></h5>
        </div>
        <div class="card-body">ABC</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-success">
          <h5 class="mb-0">Tasks in progress<i class="fa fa-hourglass right-icon" aria-hidden="true"></i></h5>
        </div>
        <div class="card-body">ABC</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-secondary">
          <h5 class="mb-0">Tasks got done<i class="fa fa-cubes right-icon" aria-hidden="true"></i></h5>
        </div>
        <div class="card-body">ABC</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>