.btn-right {
    margin-left: 4px;
    float: right;
}
.spacer {
    display: inline-block;
    margin: 4px;
}
.nav-tabs .nav-link.active {
    background-color: #F8F9FA;
    border-bottom-color: #F8F9FA;
}
.tab-content {
    border-left: solid 1px #dee2e6;
    border-right: solid 1px #dee2e6;
    border-bottom: solid 1px #dee2e6;
}
h6 {
    margin-top: 6px;
    padding: 3px 6px;
    background-color: #d1d4d6;
    border-radius: 3px;
}
input[type='text'], textarea {
    border-left-width: 3px;
}
input[type='text'].ng-pristine, textarea.ng-pristine {
    border-left-color: #BB2D3B;
}
input[type='text'].ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
    border-color: #BB2D3B;
}
input[type='text'].ng-touched.ng-valid, textarea.ng-touched.ng-valid {
    border-color:green;
}