<div class="card mb-4">
    <div class="card-header text-center">
        <i class="fa fa-user"></i><span class="px-1">User 1</span>
    </div>
    <div class="card-body text-center">
        <p class="my-0"><img src="/assets/img/user-icon.jpg" width="200"/></p>
        <p>Developer</p>
        <p class="mb-2"><button class="btn btn-sm btn-schedule"><i class="fa fa-calendar-check-o"></i> Schedules</button></p>
    </div>
    <div class="card-footer text-center">
        <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-pencil"></i> Edit</button>
        <span>&nbsp;</span>
        <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i> Remove</button>
    </div>
</div>