<div class="card">
    <div class="card-header text-primary">
        <h5 class="mb-0">New Tasks<i class="fa fa-thumb-tack right-icon"></i></h5>
    </div>
    <div class="card-body py-0">
        <ul class="list-group list-group-flush">
            <li *ngFor="let task of tasks" class="list-group-item px-0">
                <a [routerLink]="['/task', task.id]">{{task.title}}</a>
            </li>
            <li class="list-group-item px-0">
                <button class="btn btn-sm btn-primary" [routerLink]="['/task', 0]"><i class="fa fa-tasks"></i> Add</button>
            </li>
        </ul>
    </div>
</div>